extend layouts/main-layout.pug
block styles    
    link(rel="stylesheet", href="/css/main.css")
block content 
    main 
        .main-form 
                form(action="/products", method="POST", class="form-control") 
                    label(for="title") Hoody Name 
                    input(type="text", name="title",id="title")
                    button(type="submit", class="btn") Add Item 
                     